table{
    width: 100%;    
}
img{
    border-radius: 5px;
}
#Inicio{
    width: 100%;
    height: auto;
}
#logo-principal{
    width: 130px;
}

hr{
    size: 10px;    
}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    /* background-color: #F2CD37; */
    /* padding: 30px; */
    /* border-radius: 5px; */
}
h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
    background-color: #F2CD37;
    padding: 30px;
    border-radius: 5px;
}
h3{
    background-color: black;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #F2CD37;
    border-radius: 5px;
}

p, ul {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 25px;
}

tr{
    text-align: center;
}
td{
    text-align: center;
}
th{
    font-size: x-large;
}
img:hover{
    box-shadow: 0 0 10px;
    color: rgba(0, 0, 0, 0.505);

}

header{
    display: flex;
    padding: 25px;
    background-color: #F2CD37;
    border-radius: 5px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    gap: 40px;
    font-size: x-large;
    align-items:center;
    width: 100%;
}

/* #Cabecera-Interna{
    h3{
        font-size:medium;
        padding: 10px;
        text-align: center;
    } 
} */

#Footer-Principal{
    /* background-color: rgb(229, 248, 226); */
    background-color:#F2CD37;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;  
    border-color: black;
    border-style: solid;
    border-width: 5px;
}
#contacto{
    list-style: none;
    line-height: 50px;
    text-decoration: none;
    margin-left: 0px;
}

#button{
    /* background-color: red; */
    color: black;
    text-decoration: none;
    padding: 15px;
    /* border-radius: 5px; */
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}
#button:hover{
    box-shadow: 0 0 5px;
    color:black;
}
#button2{
    /* background-color: red; */
    color: black;
    text-decoration: none;
    background-color: #F2CD37;
    padding: 15px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}
#button3{
    /* background-color: red; */
    color:#F2CD37;
    text-decoration: none;
    background-color: #F2CD37;
    padding: 30px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    background-color: black;
    font-weight: bolder;
}
#button3:hover{
    box-shadow: 0 0 1px;
    color:red;
}
#Photo-Footer{
    display: flex;
    /* gap: 450px; */
    align-items:center;
    justify-content:space-between;
    padding-right: 40px;
    /* width: 100%; */
}
#Gran-Plaza1{
    display: flex;
    gap: 8%;
    align-items: center;
    padding-right: 8%;
}
#img-Gran-Plaza1{
    width: 50%;
}
#Gran-Plaza2{
    display: flex;
    padding-top: 5%;
    gap: 8%;
    align-items: center;
    padding-left: 2%;
}
#img-Gran-Plaza2{
    width: 45%;
}
#LogoGrande{
    width: 150px;
    
    padding-right: 0px;
}
#logologo{
    position:absolute;
    right: 0%;
}

footer{
    width: 100%;
}
span{
    color: #F2CD37;
    /* font-size: large; */
    font-weight: bold;
    background-color: black;
    padding: 7px;
    border-radius: 30px;
}
#logo-abajo{
    list-style: none;
    line-height: 40px;
    text-align: center;
    font-size: xx-large;
}
#abajobutton{
    text-decoration: none;
}
#boton-abajo{
    display: flex;
    /* gap: 450px; */
    align-items:center;
    padding-right: 40px;
    width: 100%;
    justify-content:space-between;

}
#logoshistoria1{
    font-size: xxx-large;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border-radius: 5px; 
    border-width: 10px;
    border-style:solid;
    border-color: #F2CD37;
    
}
